.navbar {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}
.navbar ul {
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  margin: 0;
}
.navbar ul li {
  display: inline-block;
  padding: 5px 20px;
  color: #000;
}
.navbar img {
  height: 120px;
}
.navbar button {
  background-color: #000;
  color: #fff;
  padding: 12px 25px;
  font-size: large;
  border: 0;
  outline: 0;
  border-radius: 30px;
  font-size: 16px;
  margin-right: 20px;
}
.login {
  text-decoration: none;
  color: #000;
}
.login:hover {
  text-decoration: underline;
}
.navbar li:hover {
  border-radius: 20px;
  border: 1px solid #000;
}
.navbar button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
}
.navlink.active li{
  border: none;
  color: #DC143C;
}