.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.not-found h1 {
  margin-top: 50px;
}
.not-found button {
  margin-top: 10px;
  padding: 12px 25px;
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  border: none;
}
.not-found button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
}